# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# W&B
wandb/

# Model checkpoints
*.ckpt
*.pth

# Data
RPINE/

# HuggingFace cache
.cache/
huggingface/

# Virtual environments
venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

# Naclip
utils/NACLIP
